.validation-error {
  color: red;
}

.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.action-form-container {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 15px;
}

.action-form-field-box {
  height: 100%;
  border-radius: 5px;
  padding: 7px;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.action-form-table {
  width: 100%;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.action-form-table tbody {
  width: 100%;
  margin: auto;
}

.action-form-table tbody th {
  text-align: right;
  margin-right: 5px;
}

.action-form-table tbody td {
  margin: auto;
}

input[type=text] {
  color: black;
}