{% extends "base.html" %}

{% block title %} 
  Gooey v{{ VERSION }} Mission Control 
{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/edit.css') }}">
{% endblock %}

{% block content %}
  <div class="container-main container container-fluid text-center">
    <h1 class="container-header-title">Editing Bot {{ name }}</h1>
    <hr>
    <h2>Available Actions</h2>

    <form action="edit" method="post">
      <div class="form-container row display-flex">
        {{ form.hidden_tag() }}
        {% for subform in subforms %}
          <div class="action-form-container col-xs-4">
            <div class="action-form-field-box">
              <h4>{{ subform.label }}</h4>
              {{ subform(class_='action-form-table') }}
            </div>
          </div>
        {% endfor %}
      </div>
      {{ form.submit(class='btn btn-success') }}
    </form>
  </div>
{% endblock %}